@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(34, 195, 82) 0%, rgb(183, 185, 21) 86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Playfair Display', serif;
}

#wrapper{
    height:500px;
    width:400px;
    margin:200px auto;
    background-color:#414cac;
    border-radius:10px;
    padding:30px;
}

button{
    margin-top:20px;
    background-color:#f2d885;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #102770;
}

button:hover{
    cursor:pointer;
}
#todoList{
    color:white;
    font-size:28px;  
    margin-top:10px; 
}

#todoList p{
  margin:10px 0px;
}

#todoList p:hover{
  cursor: pointer;
}

#wrapper h2{
    display:flex;
    justify-content: center;
    
}

h2{
    color:#ffeba7;
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px solid black ;
    margin-top:30px;
    height:2.5em;
    width:250px;
    padding-left:10px;
}

input:active{
    border:none;
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:30px;
}

h1{
    text-align: center;
    color:#3217aa;
}

#form button{
    background-color: #4520a4;
    color:white;
    border: 1px solid #4520a4;
    border-radius: 20px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}
